.background-panel {
    position: fixed;
    left: 0;
    top: 30px;
    width: 200px;
    height: 100%;
    background: #e9e9e9;
    border-right: 1px solid #d1d1d1;
    animation-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: wrap row;
    border-left: 2px solid #651FFF;
}

.image-options-panel {
    width: 100%;
    background: none;
    text-align: center;
}

.add-folder-button {
    width: 100%;
    height: 50px;
    background: #651FFF;
    color: white;
    border: none;
}
.add-folder-button:hover {
    background: #7C4DFF;
}
.image-optimizer-tab {
    height: 100%;
}
.image-optimizer-tab h3{
    font-size: 16px;
}

.scale-panel, .rename-panel, .file-type-panel {
    display: block;
    height: 0px;
    justify-content: space-between;
    background: #D2D2D2;
    border-top: 1px solid #B2B2B2;
    animation: panelShrink 0.1s ease;
    overflow: hidden;
    animation-fill-mode: forwards;
}
.scale-size {
    width: 70px;
    height: 20px;
    background: #666;
    border: none;
    color: white;
    font-weight: 600;
    text-align: right;
    font-size: 16px;
    padding: 5px;
}
.rename-files {
    padding: 5px;
    background: #666;
    color: white;
    text-align: right;
    border: 1px solid #707070;
    height: 20px;
}
.rename-files::-webkit-input-placeholder {
    color: #d1d1d1;
    font-style: italic;
}
.rename-panel {
    display: block;
}
#numbered-checkbox {
    margin-top: 17px;
    height: 20px;
    width: 20px;
}
.file-type {
    padding: 3px;
    background: #666;
    color: white;
    font-weight: 600;
    border: 1px solid #707070;
    width: 80px;
    text-align: right;
    margin-top: -10px;
}
.optimize-panel {
    position: fixed;
    right: 0;
    bottom: 0;
}
.optimize-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px 40px;
    background: #00C853;
    color: white;
    border: 0px;
    border-radius: 4px;
    z-index: 1000;
}
.optimize-button:hover {
    background: rgb(14, 158, 74);
}
.images-panel {
    padding: 10px;
    margin-left: 200px;
    margin-right: 0;
    overflow: auto;
    
    height: auto;
    width: auto;
    min-height: 100%;
}

.drag-label {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 45%;
    z-index: -1;
    padding: 20px;
    color: #B2B2B2;
    border: 5px dashed #B2B2B2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder {
    width: auto !important;
    height: auto;
    background: #e9e9e9;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px dashed #B2B2B2;
    border-top: 1px solid #7C4DFF;
    padding: 5px; 
}
.folder-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #d1d1d1;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
}

.folder-delete-button {
    color: white;
    background: rgb(244, 38, 38);
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}
.folder-label {
    margin-left: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder-label:hover {
    cursor: pointer;
    color: #651FFF;
}
.folder-label i {
    padding: 0 auto !important;
    margin: 0 auto !important;

}
.image-container {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #c1c1c1;
    margin: 5px;
    height: 130px;
    width: 100px;
    overflow: hidden;
    border: 1px solid #fff;
}
.image-container:hover {
    cursor: pointer;
    border: 1px solid #651FFF;
    transition: 0.3s;
}
.image-container img {
    max-width: 90px;
    margin: 5px;
}
.image-container img:hover {
    cursor: pointer;
    transition: 0.3s;
}
.container-panel {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-flow: column;
    background: #e1e1e1;
    padding: 2px;
    
}
.container-delete-button {
    background: rgb(244, 38, 38);
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    float: right;
    z-index: 100;
}
.container-delete-button {
    font-size: 12px !important;
}
.file-container {
    display: flex;
    flex-flow: wrap;
    width: auto;
}
.resolution-text {
    font-size: 10px;
    background: #666;
    color: white;
    position: absolute;
    text-align: center;
}
.image-preview {
    display: none;
    left: 52px;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.preview-image {
    position: absolute !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: -3px;
    top: -5px;
    z-index: 200;
    background: white;
    
}
.preview-image:hover {
    cursor: default;
    transform: none !important;
}
.preview-image img {
    max-width: 80% !important;
    max-height: 80%;
    margin-left: -50px;
    
}
.preview-image img:hover{
    transform: none;
    cursor: default;
}
.preview-image-panel img {
    width: auto;
    max-width: 800px;
}

.destination-button {
    width: 100%;
    height: 40px;
    background: #999;
    color: white;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #393939;
    text-align: right;
}
.destination-button:hover {
    background: #7C4DFF;
}

@keyframes panelGrow {
    0% {
        height: 0px;
        padding: 0px;
        border-top: none;
    }
    100% {
        height: auto;
        padding: 10px;
        border-top: 1px solid #B2B2B2;
    }
}

@keyframes panelShrink {
    0% {
        height: auto;
        padding: 10px;
        border-top: 1px solid #B2B2B2;
    }
    100% {
        height: 0px;
        padding: 0px;
        border-top: none;
    }
}
