
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons.woff2) format('woff2');
}
button {
    -webkit-app-region: no-drag;
    outline-color: none;
}
button:hover{
    transition: 0.2s;
    cursor: pointer;
}
button:focus{
    outline: none;
}
#title {
    font-size: 20px;
    margin-top: 5px !important;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.md-48{
    font-size: 24px;
}
.md-24{
    font-size: 16px;
}
.md-12{
    margin: 0;
}
html{
    text-decoration: none;
    background: #fff;
    color: #666;
    font-family: sans-serif
}
#titlebar{
    position: fixed;
    height: 25px;
    padding-top: 5px;
    padding-left: 30px;
    width: 100%;
    left: 0;
    top: 0;
    background:#7C4DFF;
    z-index: 10000;
}
#minbtn, #maxbtn, #closebtn{
    position: fixed;
    height: 30px;
    width: 40px;
    padding: 0;
    background: #7C4DFF;
    color: white;
    top: 0;
    border: 0;
}
#minbtn:hover, #maxbtn:hover, #closebtn:hover{
    background: #651FFF;
    
}
#minbtn:focus, #maxbtn:focus, #closebtn:focus{
    outline: none;
}
#minbtn{right: 80px;}
#maxbtn{right: 40px;}
#closebtn{right: 0;}

nav {
    width: 48px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 30px;
    background: #e1e1e1;
    border-left: 2px solid #651FFF;
    animation-duration: 0.3s !important;
}

nav button {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #651FFF;
    border: none;
    transition: all 0.3s;
}

nav button:hover {
    cursor: pointer;
    background: #7C4DFF;
    color: white;
}

.active {
    background: #651FFF;
    color: white;
}

section {
    position: fixed;
    left: 0;
    top: 30px;
    width: 100%;
    height: 100%;
}
.panel {
    background: #651FFF;
}
.tab-window-title {
    text-align: center !important;
    font-weight: 100;
    font-size: 20px;
}
.dropdown-container select {
    margin-top: 10px;
    margin-right: 15px;
    width: 90px;
}
.numberbox-container, .dropdown-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    
}
.numberbox-container span {
    margin-top: 5px;
}
.numberbox-container input {
    position: relative;
}
input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    
    background: none;
    width: 80%;
}
input[type=range]::-webkit-slider-thumb:hover{
    background: #651FFF;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #B4B4B4;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #B4B4B4;
    height: 35px;
    width: 15px;
    border-radius: 4px;
    background: #7C4DFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #B4B4B4;
}
.checkbox-container {
    display: block;
    position: relative;
    transition: 0.3s all;
}
.checkbox-container input {
    position: absolute;
    right: -3px;
    cursor: pointer;
    opacity: 0;
    top:-4px;
    width: 100%;
    height: 25px;
    z-index: 1;
}
.checkmark {
    position: absolute;
    top: -7px;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #666;
    overflow: hidden;
}
.checkbox-container:hover input ~ .checkmark {
    background-color: #999;
}
.checkbox-container input:checked ~ .checkmark {
    background-color: #651FFF;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    right: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}
.checkbox-label {
    margin-top: 0px;
}
.label {
    margin-top: 15px;
    font-weight: 100;
    width: 85%;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.checkbox:checked {
    background: #651FFF;
}
.dropdown {
    
}
.panel {
    margin-bottom: 5px;
    height: auto;
}
.preview-panel {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 200;
}
.progress-text {
    color: #651FFF;
    font-weight: 600;
    text-align: center;
}
.progress-container {
    width: 100%;
    display: flex;
    flex-flow: column;
}
.progress-bar-back {
    width: 80%;
    margin-left: 7%;
    height: 40px;
    border: 1px solid #7C4DFF;
    border-radius: 4px;
    background: white;
}
.progress-bar {
    background: #651FFF;
    height: 100%;
    width: 0%;
    transition: width ease-in 1s;
}

h4 {
    margin-top: -5px;
    line-height: 12px;
}